.signUpForm {
    position: absolute;
    right: 50%;
    transform: translate(50%, 30%);
    width: 30%;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    padding: 10px;
    z-index: 2;
}

.input {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}