.signInForm {
    position: absolute;
    right: 50%;
    transform: translate(50%, 30%);
    width: 30%;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    padding: 10px;
    z-index: 2;
}

.inputValue {
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.selected-flag.open {
    background-color: black !important;
}

.selected-flag:hover {
    background-color: black !important;
}

.country-list > *, .country-list > * > * {
    background-color: white !important;
}